@model MVCApplication.Models.Company

@{
    ViewBag.Title = "Detail of company";
}

<h2>@Html.DisplayNameFor(model => model.cname) Company Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.caddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.caddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cemail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cemail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ccno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ccno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cpackage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpackage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cjobprofile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cjobprofile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crequiremet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crequiremet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cdateofdrive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cdateofdrive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back", "cdetail")
</p>
